/bam
/.bam
/config.lua
/build
__pycache__/
*.pyc
*.pyo
scripts/work/
/SDL.dll
/freetype.dll
/autoexec.cfg
*.layout
*.cbp
*.a
*.la
*.pc
*.m4
*.cmake
*.MAC
*.UNIX
*.VMS
*.GNU
*.CROSS
*.dll
other/freetype/bin/freetype-config
*.html
